.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.normal-text {
  font-size: 1rem;
}
.card {
  box-shadow: 0 0 2px gray;
}
.authentication-form {
  width: 400px;
}
.ant-input-outlined {
  border: 1px solid rgba(128, 128, 128, 0.521) !important;
  height: 40px;
}
.ant-input-outlined:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid gray !important ;
}
