@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-picker-dropdown {
  --arrow-x: 68px;
  --arrow-y: -2px;
  inset: 520px auto auto 181px;
  box-sizing: border-box;
  min-width: 136px;
  pointer-events: none;
}

:where(
    .css-dev-only-do-not-override-1ae8k9u
  ).ant-picker-dropdown.ant-picker-dropdown-hidden {
  display: none;
}

.ant-btn.css-dev-only-do-not-override-1ae8k9u.ant-btn-primary.ant-btn-sm {
  background-color: rgb(62, 145, 222);
  color: white;
}
